<div>
    <div class="showcase-row">
        <span class="showcase-label">Font:</span>
        <span class="showcase-value theme-font">FiraCode Nerd Font</span>
    </div>
    <div class="showcase-row">
        <span class="showcase-label">Font Size:</span>
        <span class="showcase-value">15px</span>
    </div>
    <div class="showcase-row">
        <span class="showcase-label">Icon Examples:</span>
        <span class="showcase-value">
            <span class="icon">&#xf015;</span>
            <span class="icon">&#xf09b;</span>
            <span class="icon">&#xf121;</span>
            <span class="icon">&#xf0e0;</span>
            <span class="icon">&#xf120;</span>
        </span>
    </div>
    <div class="showcase-row">
        <span class="showcase-label">Colorscheme:</span>
        <span class="showcase-value">Tokyo Night Storm</span>
    </div>
    
    <!-- Color palette grid similar to Fastfetch -->
    <div class="variables-colors">
        <div class="color-block" style="background-color: var(--base00);"></div>
        <div class="color-block" style="background-color: var(--base01);"></div>
        <div class="color-block" style="background-color: var(--base02);"></div>
        <div class="color-block" style="background-color: var(--base03);"></div>
        <div class="color-block" style="background-color: var(--base04);"></div>
        <div class="color-block" style="background-color: var(--base05);"></div>
        <div class="color-block" style="background-color: var(--base06);"></div>
        <div class="color-block" style="background-color: var(--base07);"></div>
        <div class="color-block" style="background-color: var(--base08);"></div>
        <div class="color-block" style="background-color: var(--base09);"></div>
        <div class="color-block" style="background-color: var(--base0A);"></div>
        <div class="color-block" style="background-color: var(--base0B);"></div>
        <div class="color-block" style="background-color: var(--base0C);"></div>
        <div class="color-block" style="background-color: var(--base0D);"></div>
        <div class="color-block" style="background-color: var(--base0E);"></div>
        <div class="color-block" style="background-color: var(--base0F);"></div>
    </div>
</div>
