.main-nav {
  margin: 0;
  background: var(--base01);
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $nav-height;
    min-width: min-content;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 0 auto;
    padding: 0;
    gap: 0.7rem;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  // Nav list container - can be multiple in a navbar
  .nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    
    // Title styling - the tab at the start of the list
    &__title {
      height: 100%;
      // display: flex;
      align-items: center;
      color: var(--base06);
      font-size: 1rem;
      font-weight: 600;
      width: auto;
      flex-shrink: 0;
      text-decoration: none;
      background: var(--base01);
      padding: 0 1.7rem 0 1rem;
      
      &.active {
        background: var(--base0B);
        color: var(--base00);
      }
      
      &:hover {
        text-decoration: none;
        background: var(--base0C);
        color: var(--base00);
      }
    }
    
    // List of items
    &__items {
      display: flex;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 0;
      white-space: nowrap;
    }
    
    &__item {
      height: 100%;
      display: flex;
      margin: 0;
    }
    
    &__link {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--base00);
      font-size: 1rem;
      font-weight: 600;
      width: auto;
      padding: 0 1rem;
      flex-shrink: 0;
      background: var(--base05);
      text-decoration: none;
      
      // Inside content of the link
      span {
        text-align: center;
        padding: 0 0.7rem;
      }
      
      // Active state
      &.active {
        background: var(--base0B);
        color: var(--base00);
      }
      
      // Hover state
      &:hover {
        background: var(--base0C);
        text-decoration: none;
      }
    }
  }
  
  // Right pointing chevrons
  .nav-list--right {
    // Title shape - flat left, chevron right
    .nav-list__title {
      clip-path: polygon(0 0, calc(100% - 0.7rem) 0, 100% 50%, calc(100% - 0.7rem) 100%, 0 100%);
      position: relative;
    }
    
    .nav-list__item {
      position: relative;
      margin-right: 0rem;
    }
    
    .nav-list__link {
      clip-path: polygon( 0.7rem 50%, 0 0, calc(100% - 0.7rem) 0, 100% 50%, calc(100% - 0.7rem) 100%, 0 100%);
      position: relative;
    }
  }
  
  // Left pointing chevrons
  .nav-list--left {
    .nav-list__title {
      clip-path: polygon( 0 0, 100% 0, calc(100% - 0.7rem) 50%, 100% 100%, 0 100%);
      position: relative;
    }

    .nav-list__item {
      position: relative;
      margin-left: 0rem; // Make all items overlap
    }
    
    // Link shape - with dark background chevron
    .nav-list__link {
      clip-path: polygon( 0 50%, 0.7rem 0, 100% 0, calc(100% - 0.7rem) 50%, 100% 100%, 0.7rem 100%);
      position: relative;
    }
  }
  
  // Responsive styles
  @media (max-width: $breakpoint-lg) {
    .nav-list__title,
    .nav-list__link {
      // padding: 0 2rem;
    }
  }
    
  @media (max-width: $breakpoint-md) {
    .nav-list__title,
    .nav-list__link {
      // padding: 0 1rem;
    }
  }
}
