<div class="panel panel--titled panel--numbered panel--list" 
     tabindex="0" 
     data-panel-number="Recent"
     role="region"
     aria-labelledby="panel-title-recent-projects">
    <div class="panel__header">
        <!-- <span class="panel__number">[+]</span> -->
        <!-- <span class="panel__separator"></span> -->
        <span class="panel__title" id="panel-title-recent-projects">Recent Projects</span>
    </div>
    <div class="panel__content">
        <ul class="panel__list">
            {{ range first 5 (where .Site.RegularPages "Section" "projects") }}
            <li class="panel__list-item">
                <a href="{{ .Permalink }}" class="panel__list-link">
                    <span class="panel__list-title">{{ .Title }}</span>
                    <span class="panel__list-meta">{{ .Date.Format "2006-01-02" }}</span>
                </a>
            </li>
            {{ else }}
            <li class="panel__list-item">
                <span class="panel__list-title">No projects found</span>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="js-scroll-indicator"></div>
</div>